name: Update Blacklist

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 0 10 * * 6

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          
      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip3 install -r requirements.txt
          
      - name: Update Blacklist
        run: |
          python3 ./block_annoying_server.py

      - name: Commit And Push
        uses: EndBug/add-and-commit@v9
        with:
          add: |
            - blocked_servers_details.json
            - ipblacklist.txt
          message: "Automatically update blacklist"
          author_name: github-actions[bot]
          author_email: actions[bot]@users.noreply.github.com
          
    env:
      STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
